.bz-uploader {
    /* Upload button */
    .btn-upload {
        position: relative;
        display: inline-block;
        overflow: hidden;
        input {
            font-size: 36px;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .progress {
        position: relative;
        height: 30px;

        .progress-bar {
            position: relative;
            overflow: hidden;
        }
        span {
            font-size: 14px;
            position: absolute;
            top: 5px;
            left: 8px;
        }
    }
    .bz-uploaded-file {
    }
    .bz-upload-files {
    }
    .bz-upload-total {
        margin-bottom: 10px;
        .progress {
            margin: 0;
        }
    }

    .btn-danger {
        .badge {
            background-color: #fff;
            color: #999;
        }
    }

    /*Uploader*/
    .upload-files {
        ul {
            margin-bottom: 10px;
            li {
                margin-bottom: 10px;
                width: 300px;
                .progress {
                    &.progress-bar-info {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .progress-uploaded {
        }
    }
    .upload-files {
        ul {
            margin-bottom: 0;
            li {
                .progress {
                    margin-bottom: 0;
                }
            }
        }
    }
}